{% extends 'my_app/contul_meu_adult.html' %}

{% block head_block %}
<style>
    .update-section{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        margin-top: 80px;
    }
    @media only screen and (max-width: 600px){
            .profile_pic{
                height: 100%;
                width: 100%;
            }
        }
</style>
{% endblock %}

{% block body_block %}
<div class="section update-section">
    <div class="container">
        <h2 style="font-weight: bolder;">Actualizeaza-ti datele</h2>
        <hr>
        <br>
        <div class="section form-section">
            <form class="form-group" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <img src="{{request.user.adult.profile_pic.url}}" class="profile_pic">
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-6">
                        {{ form.user }}
                        <label for="nume" style="margin-top: 50px;">Numele:</label>
                        {{ form.nume }}
                        <br>
                        <label for="email">Email:</label>
                        {{ form.email }}
                        <br>
                        <label for="imagine">Imagine:</label>
                        {{ form.profile_pic }}
                        <br>
                        <input type="submit" class="btn btn-outline-info btn-block" value="Actualizeaza">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var my_name = "{{ user.id }}";
    document.getElementsByName('user').value = my_name;
</script>
{% endblock %}