{% extends 'my_app/base.html' %}

{% block head_block %}
<style>
    .my_banner{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), #3DB2FF),
        url('https://image.freepik.com/free-vector/people-analyzing-growth-charts_23-2148866843.jpg');
        background-size: cover;
        background-position: center;
        font-family: 'Montserrat', sans-serif;
    }
    #jb1{
        margin-top: 50px;
        padding-top: 40px;
        background-color: aliceblue;
    }
    #header1{
        margin-top: 18rem;
        font-family: 'Montserrat', sans-serif;
        color: aliceblue;
    }
    #param1{
        font-family: 'Montserrat', sans-serif;
        color: aliceblue;
        font-size: 19px;
    }
    #param2{
        font-family: 'Montserrat', sans-serif;
        color: aliceblue;
        font-size: 19px;
    }
    #param3{
        font-family: 'Montserrat', sans-serif;
        color: aliceblue;
        font-size: 19px;
    }
    #param4{
        font-family: 'Montserrat', sans-serif;
        color: aliceblue;
        font-size: 19px;
    }
    #hr1{
        background-color: #FFB319;
    }
    #btn1{
        margin-top: 30px;
    }
    .animate{
        animation: FadeIn 2s;
    }
    @keyframes FadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
</style>
{% endblock %}

{% block body_block %}
<div class="my_banner">
    <div class="animate">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-6">
                <h1 id="header1">Contacteaza-ne</h1>
                <br>
                <p id="param1">Ati intampinat anumite probleme sau doriti sa aflati mai multe detalii?</p>
                <p id="param2">Vă rugăm să completați formularul și va vom contacta în curând.</p>
                <br>
                <hr id="hr1">
                <br>
                <p id="param3">Email: panaiteuroconcept@gmail.com</p>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-6">
                <div class="jumbotron" id="jb1">
                    <div class="text">
                        <form class="form-group" method="POST" action="">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="checkbox" required>
                            <label for="Acord">Sunt de acord cu <a href="{% url 'termeni_si_conditii' %}">Termenii si Conditiile</a></label>
                            <br>
                            <input type="submit" value="Contacteaza-ne" class="btn btn-outline-primary btn-block" id="btn1">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="jumbotron" style="background-color: #1F1D36;margin-bottom: 0px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <h2 style="font-family: 'Montserrat', sans-serif;font-weight: bolder;color: #fff;">Informatii</h2>
          <br>
          <a href="{% url 'ajutor_si_contact' %}" id="anchor1">Ajutor si contact</a>
          <a href="{% url 'politica_confi' %}" id="anchor1">Politica de confidentialitate</a>
          <a href="{% url 'politica_cookie' %}" id="anchor1">Politica de cookie-uri</a>
          <a href="{% url 'termeni_si_conditii' %}" id="anchor1">Termeni si conditii</a>
          <a href="{% url 'securitate' %}" id="anchor1">Protejeaza-te pe Maglo</a>
          <a href="https://anpc.ro/" id="anchor1">ANPC</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <h2 style="font-family: 'Montserrat', sans-serif;font-weight: bolder;color: #fff;">Date de contact</h2>
          <br>
          <p id="anchor1">E-mail: panaiteuroconcept@gmail.com</p>
          <p id="anchor1">Date firma: PANAIT EURO CONCEPT S.R.L.</p>
          <p id="anchor1">CUI: 46549431</p>
          <p id="anchor1">Registrul comertului: J11/526/27.07.2022</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <h2 style="font-family: 'Montserrat', sans-serif;font-weight: bolder;color: #fff;">Urmareste-ne</h2>
          <br>
          <a href="" id="anchor1"><i class="fab fa-facebook"></i> Facebook</a>
          <a href="" id="anchor1"><i class="fab fa-instagram"></i> Instagram</a>
          <a href="" id="anchor1"><i class="fab fa-linkedin"></i> Linked-In</a>
        </div>
      </div>
    </div>
</div>
<div class="jumbotron" style="background-color: #2d2b4b;margin-bottom: 0px;padding-top: 30px;padding-bottom: 30px;font-family: 'Montserrat', sans-serif;font-weight: bolder;">
    <div class="container">
        <p style="font-size: 22px;color: #fff;text-align: center;">© Copyright {{date_posted}} - Maglo - Toate drepturile rezervate</p>
    </div>
</div>
{% endblock %}