{% extends 'my_app/contul_meu_copil.html' %}

{% block head_block %}
<style>
    #jumbotron2{
        padding: 0;
        background-color: #fff;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        transition: 0.2s ease-in-out;
    }
    #jumbotron2:hover{
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    }
    .section-post{
        margin-top: 80px;
    }
    .section-post h2{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
    }
    .banner-post{
        margin-top: 80px;
    }
    .post-pic{
        width: 100%;
        height: 100%;
    }
    .param2{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        padding-top: 10px;
        padding-left: 12px;
    }
    .param3{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        font-size: 19px;
        padding-left: 12px;
    }
    .header1{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        margin-top: 80px;
    }
</style>
{% endblock %}

{% block body_block %}
<div class="section favourite-section">
    <div class="container">
        <h2 class="header1">Anunturi favorite: {{anunt_favorit.count}}</h2>
        <hr>
        <div class="banner-post">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-6">
                    {% for data in anunt_favorit %}
                    <div class="jumbotron" id="jumbotron2">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <img src="{{data.imagine.url}}" class="post-pic">
                            </div>
                            <div class="col-lg-9 col-md-6 col-sm-6">
                                <p class="param2" style="font-size: 24px;padding-left: 12px;">{{data.numele_anuntului}}</p>
                                <hr>
                                <p class="param3">Categorie: {{data.categorie_copil}}</p>
                                <div class="row">
                                    <div class="col-lg-8 col-md-6 col-sm-6">
                                        <p class="param3">Judet: {{data.localizare}}</p>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6">
                                        <a href="{% url 'my_app:pag_anunturi_postate' pk=data.pk %}" class="btn btn-outline-info" style="margin-bottom: 10px;margin-left: 12px;">Detalii</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}