{% extends 'my_app/base_copil.html' %}

{% block head_block %}
<style>
    body{
        height: 1300px;
        background-color: #E4E9FD;
        background-image: -webkit-linear-gradient(65deg, #28a6fa 50%, #E4E9FD 50%);
    }
    .box{
        max-width: 500px;
        background-color: white;
        border-radius: 5px;
        margin: 140px auto;
        padding: 25px 25px 25px 25px;
        box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    }
    .box h1{
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding-top: 10px;
    }
    .form-group{
        font-family: 'Montserrat', sans-serif;
    }
    #inp1{
        margin-top: 30px;
    }
    #param1{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        padding-top: 15px;
    }
    .param2{
        text-align: center;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
    }
    .hr1{
        width: 100%;
        height: 0.4vh;
        background-color: #ddd1d1;
    }
    .param3{
        text-align: center;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
    }
    .media a{
        position: relative;
        margin: auto;
        display: block;
        font-size: 27px;
        border-radius: 100%;
        background: white;
        height: 60px;
        width: 60px;
        padding: 9px 0px 0px 15px;
    }
    #a1{
        color: blue;
        border: 2px solid blue;
    }
    #a1 i{
        color: blue;
    }
    #a1:hover{
        color: #fff;
        background-color: blue;
    }
    #a1 i:hover{
        color: #fff;
    }
    #a2{
        color: crimson;
        border: 2px solid crimson;
    }
    #a2:hover{
        color: white;
        background-color: crimson;
    }
    #a3{
        color: cornflowerblue;
        border: 2px solid cornflowerblue;
    }
    #a3:hover{
        color: white;
        background-color: cornflowerblue;
    }
    #navbarDropdown{
            border: 3px solid #fff;
            border-radius: 50px;
            font-size: 22px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 6px;
            padding-bottom: 6px;
            text-decoration: none;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
        }
        #navbarDropdown:hover{
            color: #A683E3;
            background-color: #fff;
        }
        @media only screen and (min-width: 768px){
            .dropdown:hover>.dropdown-menu{
                display: block;
            }
        }
</style>
{% endblock %}

{% block body_block %}
<div class="new_box">
    <div class="box">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-6">
                <p class="param2"><a href="{% url 'my_app:inregistrare_copil' %}" style="text-decoration: none;color: black;">Inregistrare</a></p>
                <hr class="hr1">
            </div>
            <div class="col-lg-6 col-md-4 col-sm-6">
                <p class="param3"><a href="{% url 'my_app:autentificate_copil' %}" style="text-decoration: none;color: black;">Intra in cont</a></p>
                <hr class="hr1">
            </div>
        </div>
        <br>
        <div class="media">
            <a href="#" id="a1">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#" id="a2">
                <i class="fab fa-google"></i>
            </a>
            <a href="#" id="a3">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <br>
        <form class="form-group" method="POST" action="">
            {% csrf_token %}
            <label for="email">Nume:</label>
            <input type="text" class="form-control" placeholder="Nume" name="username" required>
            <label for="parola" style="margin-top: 20px;">Parola:</label>
            <input type="password" class="form-control" placeholder="Parola" name="password1" required>
            {% for message in messages %}
                <p style="font-size: 18px;padding-top: 15px;padding-bottom:8px;text-align: center;color: rgb(214, 163, 95);font-weight: bold;">{{message}}</p>
            {% endfor %}
            <p id="param1">Prin accesarea contului, esti de acord cu <a href="{% url 'termeni_si_conditii' %}">Termenii si Conditiile</a> site-ului</p>
            <input type="submit" class="btn btn-outline-info btn-block btn-lg" value="Intra in cont" id="inp1">
        </form>
    </div>
</div>
<div class="jumbotron" style="background-color: #1F1D36;margin-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
              <h2 style="font-family: 'Montserrat', sans-serif;font-weight: bolder;color: #fff;">Informatii</h2>
              <br>
              <a href="{% url 'ajutor_si_contact' %}" id="anchor1">Ajutor si contact</a>
              <a href="{% url 'politica_confi' %}" id="anchor1">Politica de confidentialitate</a>
              <a href="{% url 'politica_cookie' %}" id="anchor1">Politica de cookie-uri</a>
              <a href="{% url 'termeni_si_conditii' %}" id="anchor1">Termeni si conditii</a>
              <a href="{% url 'securitate' %}" id="anchor1">Protejeaza-te pe Maglo</a>
              <a href="https://anpc.ro/" id="anchor1">ANPC</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <h2 style="font-family: 'Montserrat', sans-serif;font-weight: bolder;color: #fff;">Date de contact</h2>
              <br>
              <p id="anchor1">E-mail:</p>
              <p id="anchor1">Date firma: PANAIT EURO CONCEPT S.R.L.</p>
              <p id="anchor1">CUI: 46549431</p>
              <p id="anchor1">Registrul comertului: J11/526/27.07.2022</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <h2 style="font-family: 'Montserrat', sans-serif;font-weight: bolder;color: #fff;">Urmareste-ne</h2>
              <br>
              <a href="" id="anchor1"><i class="fab fa-facebook"></i> Facebook</a>
              <a href="" id="anchor1"><i class="fab fa-instagram"></i> Instagram</a>
              <a href="" id="anchor1"><i class="fab fa-linkedin"></i> Linked-In</a>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" style="background-color: #2d2b4b;margin-bottom: 0px;padding-top: 30px;padding-bottom: 30px;font-family: 'Montserrat', sans-serif;font-weight: bolder;">
    <div class="container">
        <p style="font-size: 22px;color: #fff;text-align: center;">© Copyright {{date_posted}} - Maglo - Toate drepturile rezervate</p>
    </div>
</div>
{% endblock %}