{% extends 'my_app/anunturi_postate_adult.html' %}

{% block head_block %}
<style>
    body{
        height: 1300px;
        background-color: #E4E9FD;
        background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    }
    .box{
        max-width: 500px;
        margin: 140px auto;
        border-radius: 5px;
        padding: 25px 25px 25px 25px;
        box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
        background-color: white;
    }
    .box h1{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin-top: 15px;
    }
    .media a{
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        margin: auto;
        display: block;
        font-size: 27px;
        background-color: white;
        padding: 9px 0px 0px 15px;
    }
    #a1{
        color: blue;
        border: 2px solid blue;
    }
    #a1 i{
        color: blue;
    }
    #a1 i{
        color: blue;
    }
    #a1:hover{
        color: white;
        background-color: blue;
    }
    #a1 i:hover{
        color: #fff;
    }
    #a2{
        color: crimson;
        border: 2px solid crimson;
    }
    #a2:hover{
        color: white;
        background-color: crimson;
    }
    #a3{
        color: cornflowerblue;
        border: 2px solid cornflowerblue;
    }
    #a3:hover{
        color: white;
        background-color: cornflowerblue;
    }
    .box span{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
    .box span label{
        padding-bottom: 20px;
    }
    .form-group{
        font-family: 'Montserrat', sans-serif;
    }
    #param1{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        padding-top: 15px;
    }
    .param2{
        text-align: center;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
    }
    .hr1{
        width: 100%;
        height: 0.4vh;
        background-color: #ddd1d1;
    }
    .param3{
        text-align: center;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
    }
    #navbarDropdown{
            border: 3px solid #fff;
            border-radius: 50px;
            font-size: 22px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 6px;
            padding-bottom: 6px;
            text-decoration: none;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
        }
        #navbarDropdown:hover{
            color: #A683E3;
            background-color: #fff;
        }
        @media only screen and (min-width: 768px){
            .dropdown:hover>.dropdown-menu{
                display: block;
            }
        }
</style>
{% endblock %}

{% block body_block %}
<div class="box">
    <form class="form-group" method="POST" action="">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-6">
                <p class="param2"><a href="{% url 'my_app:inregistrare_adult' %}" style="text-decoration: none;color: black;">Inregistrare</a></p>
                <hr class="hr1">
            </div>
            <div class="col-lg-6 col-md-4 col-sm-6">
                <p class="param3"><a href="{% url 'my_app:autentificate_adult' %}" style="text-decoration: none;color: black;">Intra in cont</a></p>
                <hr class="hr1">
            </div>
        </div>
        <br>
        <div class="media">
            <a href="" id="a1">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="" id="a2">
                <i class="fab fa-google"></i>
            </a>
            <a href="" id="a3">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <br>
        {% csrf_token %}
        <label for="username" style="margin-top: 20px;">Nume:</label>
        <input type="text" class="form-control" name="username" placeholder="Numele" required>
        <label for="password" style="margin-top: 20px;">Parola:</label>
        <input type="password" class="form-control" name="password1" placeholder="Parola" required>
        {% for message in messages %}
            <p style="font-size: 18px;padding-top: 15px;padding-bottom:8px;text-align: center;color: rgb(214, 163, 95);font-weight: bold;">{{message}}</p>
        {% endfor %}
        <p id="param1">Prin accesarea contului, esti de acord cu <a href="{% url 'termeni_si_conditii' %}">Termenii si Conditiile</a> site-ului</p>
        <input type="submit" class="btn btn-outline-info btn-block btn-lg" value="Intra in cont">
        <br>
    </form>
</div>
<div class="jumbotron" style="background-color: #334257;margin-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <h3 style="color: #BBBFCA;">Informatii</h3>
                <br>
                <a href="{% url 'ajutor_si_contact' %}" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">Ajutor si Contact</a>
                <a href="{% url 'politica_confi' %}" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">Politica de confidentialitate</a>
                <a href="{% url 'politica_cookie' %}" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">Politica de Cookie-uri</a>
                <a href="{% url 'termeni_si_conditii' %}" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">Termeni si Conditii</a>
                <a href="{% url 'securitate' %}" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">Protejeaza-te pe Maglo</a>
                <a href="https://anpc.ro/" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">ANPC</a>
            </div>
            <br>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <h3 style="color: #BBBFCA;">Date de contact</h3>
                <br>
                <p style="display:block;text-decoration: none;color: aliceblue;">Email: </p>
                <p style="display:block;text-decoration: none;color: aliceblue;">Date firma: </p>
                <p style="display:block;text-decoration: none;color: aliceblue;">CUI: </p>
                <p style="display:block;text-decoration: none;color: aliceblue;">Registrul comertului: </p>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" style="background-color: #151515;margin-bottom: 0px;padding-top: 30px;padding-bottom: 30px;">
    <div class="container">
        <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color: aliceblue;text-align: center;">© Copyright {{date_posted}} - Maglo - Toate drepturile rezervate</p>
    </div>
</div>
{% endblock %}