{% extends 'my_app/contul_meu_adult.html' %}

{% block head_block %}
<style>
    .logout-section{
        margin-top: 80px;
    }
    .header2{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
    }
</style>
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="section logout-section">
        <h2 class="header2">Esti sigur ca vrei sa te deconectezi?</h2>
        <hr>
        <a href="{% url 'my_app:deconectare_adult' %}" class="btn btn-outline-danger btn-lg" style="margin-top: 60px;">Ma deconectez</a>
        <a href="{% url 'my_app:contul_meu_adult' %}" class="btn btn-outline-info btn-lg" style="margin-top: 60px;">Raman pe cont</a>
    </div>
</div>
{% endblock %}