{% extends 'my_app/anunturi_postate_adult.html' %}

{% block head_block %}
<style>
    .banner{
        background-color: white;
        max-width: 300px;
        height: 100%;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .jumbotron{
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
        background-color: aliceblue;
    }
    .banner h2{
        font-family: 'Montserrat', sans-serif;
        padding: 30px 0px 20px 20px;
    }
    .banner hr{
        margin-left: 10px;
        margin-right: 10px;
    }
    #param1{
        font-family: 'Montserrat', sans-serif;
        padding: 10px 0px 10px 20px;
        font-size: 20px;
    }
    #param1:hover{
        background-color: #A683E3;
        color: white;
    }
    .banner ul{
        font-family: 'Montserrat', sans-serif;
        padding-left: 60px;
    }
    #param2{
        font-family: 'Montserrat', sans-serif;
        padding: 10px 0px 10px 20px;
        font-size: 20px;
    }
    #param2:hover{
        background-color: #A683E3;
        color: white;
    }
    .banner ul li a{
        text-decoration: none;
    }
    .banner ul li{
        font-size: 18px;
        padding-top: 10px;
    }
    .banner ul li a:hover{
        border-bottom: 2px solid #A683E3;
    }
    #a1{
        text-decoration: none;
        color: black;
    }
    #a2{
        text-decoration: none;
        color: black;
    }
    .banner ul li a{
        color: black;
    }
    .header1{
        font-family: 'Montserrat', sans-serif;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 20px;
    }
    .card{
        font-family: 'Montserrat', sans-serif;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .card:hover{
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .card-title{
        font-size: 20px;
    }
    .card-text{
        padding-top: 10px;
        font-size: 18px;
    }
    #img7{
        width: 100%;
        height: 250px;
    }
    #a3{
        text-decoration: none;
        color: black;
    }
    #param3{
        font-family: 'Montserrat', sans-serif;
        padding: 10px 0px 10px 20px;
        font-size: 20px;
    }
    #param3:hover{
        background-color: #A683E3;
        color: white;
    }
    #jumbotron_1{
        background-color: white;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    #jumbotron_1:hover{
        box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.4);
    }
    #navbarDropdown{
            border: 3px solid #fff;
            border-radius: 50px;
            font-size: 22px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 6px;
            padding-bottom: 6px;
            text-decoration: none;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
        }
        #navbarDropdown:hover{
            color: #A683E3;
            background-color: #fff;
        }
        @media only screen and (min-width: 768px){
            .dropdown:hover>.dropdown-menu{
                display: block;
            }
        }
</style>
{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="banner">
                <h2>Maglo</h2>
                <hr>
                <a href="{% url 'my_app:contul_meu_adult' %}" id="a1"><p id="param1"><i class="fas fa-user"></i> Contul meu</p></a>
                <ul>
                    <li><a href="{% url 'my_app:contul_meu_adult' %}">Informatii personale</a></li>
                    <li><a href="{% url 'my_app:deconectare_adult1' %}">Deconectare</a></li>
                    <li><a href="{% url 'my_app:posteaza_anunt_adult' %}">Posteaza un anunt</a></li>
                </ul>
                <a href="{% url 'my_app:anunturi_totale_adult' user.pk %}" id="a2"><p id="param2"><i class="fas fa-calendar-check"></i> Anunturi postate</p></a>
                <ul>
                    <li><a href="{% url 'my_app:anunturi_totale_adult' user.pk %}">Anunturile tale</a></li>
                    <li><a href="{% url 'my_app:pag_update_adult' %}">Actualizeaza anunt</a></li>
                    <li><a href="{% url 'my_app:anunturi_favorite_d' %}">Anunturi favorite</a></li>
                    <li><a href="{% url 'my_app:pag_delete_adult' %}">Sterge anunt</a></li>
                </ul>
                <a href="{% url 'my_app:promoveazati_afacerea_serviciul' %}" id="a3"><p id="param3"><i class="fas fa-briefcase"></i> Afacere/Serviciu</p></a>
                <ul>
                    <li><a href="{% url 'my_app:promoveazati_afacerea' %}">Scaleaza-ti afacerea</a></li>
                    <li><a href="{% url 'my_app:promoveazati_serviciul' %}">Promoveaza-ti serviciul</a></li>
                </ul>
                <br>
            </div>
        </div>
        <div class="col-lg-8 col-md-4 col-sm-6">
            <h2 class="header1"><strong>Actualizeaza-ti anunturile postate</strong></h2>
            {% for anunt in model %}
            <div class="jumbotron" id="jumbotron_1">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <img src="{{ anunt.imagine.url }}" style="width: 100%; height: 26vh;font-weight:bolder;">
                    </div>
                    <div class="col-lg-9 col-md-4 col-sm-6">
                        <h2 style="padding-top: 12px;font-weight: bold;padding-left: 6px;">{{anunt.numele_anuntului}}</h2>
                        <hr>
                        <p style="font-size: 19px;padding-left: 6px;padding-top: 10px;">Categorie: {{anunt.categorie_adult}}</p>
                        <div class="row">
                            <div class="col-lg-8 col-md-4 col-sm-6">
                                <p style="padding-bottom: 12px;font-size: 19px;padding-left: 6px;padding-top: 0;">Judet: {{anunt.localizare}} </p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <a href="{% url 'my_app:update_adult' pk=anunt.pk %}" class="btn btn-outline-info" style="margin-bottom: 12px;margin-left: 6px;">Actualizeaza</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="jumbotron" style="background-color: #334257;margin-bottom: 0px;padding-top: 20px;padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <h3 style="color: #BBBFCA;">Informatii</h3>
                <br>
                <a href="{% url 'ajutor_si_contact' %}" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">Ajutor si Contact</a>
                <a href="{% url 'politica_confi' %}" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">Politica de confidentialitate</a>
                <a href="{% url 'politica_cookie' %}" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">Politica de Cookie-uri</a>
                <a href="{% url 'termeni_si_conditii' %}" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">Termeni si Conditii</a>
                <a href="{% url 'securitate' %}" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">Protejeaza-te pe Maglo</a>
                <a href="https://anpc.ro/" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">ANPC</a>
            </div>
            <br>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <h3 style="color: #BBBFCA;">Date de contact</h3>
                <br>
                <p style="display:block;text-decoration: none;color: aliceblue;">Email: </p>
                <p style="display:block;text-decoration: none;color: aliceblue;">Date firma: </p>
                <p style="display:block;text-decoration: none;color: aliceblue;">CUI: </p>
                <p style="display:block;text-decoration: none;color: aliceblue;">Registrul comertului: </p>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" style="background-color: #151515;margin-bottom: 0px;padding-top: 30px;padding-bottom: 30px;">
    <div class="container">
        <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color: aliceblue;text-align: center;">© Copyright {{date_posted}} - Maglo - Toate drepturile rezervate</p>
    </div>
</div>
{% endblock %}