{% extends 'my_app/base_copil.html' %}

{% block head_block %}
<style>
    .a1 i{
        padding-top: 4rem;
        font-size: 20px;
    }
    .a1{
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        text-decoration: none;
        color: black;
    }
    .a1:hover{
        color: #A683E3;
    }
    .carousel{
        margin-top: 50px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
    .carousel:hover{
        box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
    }
    #card{
        font-family: 'Montserrat', sans-serif;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
    #card:hover{
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    #card-title{
        font-size: 22px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #mesaj{
        background-color: #EEEEEE;
    }
    .card{
        font-family: 'Montserrat', sans-serif;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .card:hover{
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .card-title{
        font-size: 26px;
    }
    .card-text{
        font-size: 20px;
    }
</style>
{% endblock %}

{% block body_block %}
<div class="container">
    <a href="{% url 'anunturi_postate_copil' %}" class="a1"><i class="fas fa-arrow-left"></i> <strong>Inapoi pe pagina principala</strong></a>
    <div class="row">
        <div class="col-lg-8 col-md-4 col-sm-6">
            {% for data in model %}
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                  <li data-target="#demo" data-slide-to="3"></li>
                  <li data-target="#demo" data-slide-to="4"></li>
                  <li data-target="#demo" data-slide-to="5"></li>
                </ul>
              
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{ data.imagine.url }}" style="height: 50vh;">
                  </div>
                  <div class="carousel-item">
                    {% if data.imagine2 %}
                    <img src="{{ data.imagine2.url }}" style="height: 50vh;">
                    {% endif %}
                  </div>
                  <div class="carousel-item">
                    {% if data.imagine3 %}
                    <img src="{{ data.imagine3.url }}" style="height: 50vh;">
                    {% endif %}
                  </div>
                  <div class="carousel-item">
                    {% if data.imagine4 %}
                    <img src="{{ data.imagine4.url }}" style="height: 50vh;">
                    {% endif %}
                  </div>
                  <div class="carousel-item">
                    {% if data.imagine5 %}
                    <img src="{{ data.imagine5.url }}" style="height: 50vh;">
                    {% endif %}
                  </div>
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <table style="width: 100%;font-family: 'Montserrat', sans-serif;margin-top: 60px;margin-bottom: 40px;font-size: 21px;border: 1px solid aliceblue;border-collapse: collapse;">
                <tr>
                    <td>Titlul anuntului:</td>
                    <td>{{data.numele_anuntului}}</td>
                </tr>
                <tr style="background-color: #28a6fa;">
                    <td>Categorie:</td>
                    <td>{{data.categorie_copil}}</td>
                </tr>
                <tr>
                    <td>Judet:</td>
                    <td>{{data.localizare}}</td>
                </tr>
                <tr style="background-color: #28a6fa;">
                    <td>Pret:</td>
                    <td>{{data.pret}} {{data.moneda}}</td>
                </tr>
                <tr>
                    <td>Descriere:</td>
                    <td>{{data.descriere}}</td>
                </tr>
            </table>
            <hr style="margin-bottom: 30px;">
            <h2 style="font-family: 'Montserrat', sans-serif;"><strong>Informatii despre vanzator</strong></h2>
            <p style="font-family: 'Montserrat', sans-serif;font-size: 21px;padding-top: 20px;">Email: {{data.email}}</p>
            <p style="font-family: 'Montserrat', sans-serif;font-size: 21px;">Numar de telefon: +40 {{data.telefon}}</p>
            {% endfor %}
            <br>
            {% if user.is_authenticated %}
                <form method="POST" action="" class="form-group" style="font-family: 'Montserrat', sans-serif;font-weight: bolder;">
                    {% csrf_token %}
                    <label for="mesaj">Mesaj:</label>
                    <textarea class="form-control" placeholder="Trimite un mesaj vanzatorului..." rows="10" cols="8" required></textarea>
                    <br>
                    <a href="{% url 'my_app:chats' %}" class="btn btn-outline-info btn-block">Trimite</a>
                </form>
            {% else %}
                <form method="POST" action="" class="form-group">
                    {% csrf_token %}
                    <label for="mesaj">Mesaj:</label>
                    <textarea class="form-control" placeholder="Trimite un mesaj vanzatorului..." rows="10" cols="8" required></textarea>
                    <br>
                    <a href="{% url 'my_app:pag_anunturi_postate' %}" class="btn btn-outline-info btn-block">Trimite</a>
                </form>
            {% endif %}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Vanzator</div>
                    <hr>
                    <div class="card-text">Nume: {{user.username}}</div>
                    <div class="card-text">Email: {{user.email}}</div>
                    <br>
                    <a href="#mesaj" class="btn btn-outline-success btn-block" style="margin-bottom: 10px;">Trimite mesaj</a>
                    <form method="POST" action="{% url 'my_app:adauga_anunturi_favorite_c' anunt.pk %}">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                            {% if favorit_id %}
                                <button type="submit" name="favorite" value="{{ anunt.pk }}" class="btn btn-outline-secondary btn-block"><i class="far fa-heart"></i> Sterge de la favorite</button>
                            {% else %}
                                <button type="submit" name="favorite" value="{{ anunt.pk }}" class="btn btn-outline-secondary btn-block"><i class="far fa-heart"></i> Adauga la favorite</button>
                            {% endif %}
                        {% else %}
                            <button type="button" name="favorite" value="{{ anunt.pk }}" class="btn btn-outline-secondary btn-block"><i class="far fa-heart"></i> Adauga la favorite</button>
                            <p class="param20">Creeaza-ti un cont pentru adaugarea acestui anunt la favorite!</p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" style="background-color: #1F1D36;margin-bottom: 0px;margin-top: 40px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <h2 style="font-family: 'Montserrat', sans-serif;font-weight: bolder;color: #fff;">Informatii</h2>
          <br>
          <a href="{% url 'ajutor_si_contact' %}" id="anchor1">Ajutor si contact</a>
          <a href="{% url 'politica_confi' %}" id="anchor1">Politica de confidentialitate</a>
          <a href="{% url 'politica_cookie' %}" id="anchor1">Politica de cookie-uri</a>
          <a href="{% url 'termeni_si_conditii' %}" id="anchor1">Termeni si conditii</a>
          <a href="{% url 'securitate' %}" id="anchor1">Protejeaza-te pe Maglo</a>
          <a href="https://anpc.ro/" id="anchor1">ANPC</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <h2 style="font-family: 'Montserrat', sans-serif;font-weight: bolder;color: #fff;">Date de contact</h2>
          <br>
          <p id="anchor1">E-mail: panaiteuroconcept@gmail.com</p>
          <p id="anchor1">Date firma: PANAIT EURO CONCEPT S.R.L.</p>
          <p id="anchor1">CUI: 46549431</p>
          <p id="anchor1">Registrul comertului: J11/526/27.07.2022</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <h2 style="font-family: 'Montserrat', sans-serif;font-weight: bolder;color: #fff;">Urmareste-ne</h2>
          <br>
          <a href="" id="anchor1"><i class="fab fa-facebook"></i> Facebook</a>
          <a href="" id="anchor1"><i class="fab fa-instagram"></i> Instagram</a>
          <a href="" id="anchor1"><i class="fab fa-linkedin"></i> Linked-In</a>
        </div>
      </div>
    </div>
</div>
<div class="jumbotron" style="background-color: #2d2b4b;margin-bottom: 0px;padding-top: 30px;padding-bottom: 30px;font-family: 'Montserrat', sans-serif;font-weight: bolder;">
    <div class="container">
        <p style="font-size: 22px;color: #fff;text-align: center;">© Copyright {{date_posted}} - Maglo - Toate drepturile rezervate</p>
    </div>
</div>
<script>
    var name = "{{ post.id }}";
    document.getElementById('post1').value = name;
</script>
{% endblock %}