{% extends 'my_app/contul_meu_copil.html' %}

{% block head_block %}
<style>
    #jumbotron2{
        padding: 0;
        background-color: #fff;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        transition: 0.2s ease-in-out;
    }
    #jumbotron2:hover{
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    }
    .section-post{
        margin-top: 80px;
    }
    .section-post h2{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
    }
    .banner-post{
        margin-top: 80px;
    }
    .post-pic{
        width: 100%;
        height: 100%;
    }
    .param2{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        padding-top: 10px;
        padding-left: 12px;
    }
    .param3{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        font-size: 19px;
        padding-left: 12px;
    }
</style>
{% endblock %}

{% block body_block %}
<div class="section-post">
    <div class="container">
        <h2>Actualizeaza anuntul:</h2>
        <hr>
        <div class="banner-post">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-6">
                    <form method="POST" action="" class="form-group">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <input type="submit" class="btn btn-outline-info btn-block" value="Actualizeaza">
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}