{% extends 'my_app/anunturi_postate_adult.html' %}

{% block head_block %}
<style>
    .banner{
        background-color: white;
        max-width: 300px;
        height: 100%;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .jumbotron{
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
        background-color: aliceblue;
    }
    .banner h2{
        font-family: 'Montserrat', sans-serif;
        padding: 30px 0px 20px 20px;
    }
    .banner hr{
        margin-left: 10px;
        margin-right: 10px;
    }
    #param1{
        font-family: 'Montserrat', sans-serif;
        padding: 10px 0px 10px 20px;
        font-size: 20px;
    }
    #param1:hover{
        background-color: #A683E3;
        color: white;
    }
    .banner ul{
        font-family: 'Montserrat', sans-serif;
        padding-left: 60px;
    }
    #param2{
        font-family: 'Montserrat', sans-serif;
        padding: 10px 0px 10px 20px;
        font-size: 20px;
    }
    #param2:hover{
        background-color: #A683E3;
        color: white;
    }
    .banner ul li a{
        text-decoration: none;
    }
    .banner ul li a:hover{
        border-bottom: 2px solid #A683E3;
    }
    .banner ul li{
        font-size: 18px;
        padding-top: 10px;
    }
    #a1{
        text-decoration: none;
        color: black;
    }
    #a2{
        text-decoration: none;
        color: black;
    }
    .banner ul li a{
        color: black;
    }
    .header1{
        font-family: 'Montserrat', sans-serif;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .form-group{
        font-family: 'Montserrat', sans-serif;
        max-width: 800px;
    }
    .bg{
        background-color: #F3F1F5;
        background-image: url('');
        width: 100%;
        height: 120px;
        border-radius: 10px;
        border: 2px dashed grey;
        color: #8E05C2;
    }
    .bg:hover{
        animation: FadeIn 2s;
    }
    .bg i{
        position: absolute;
        top: 40%;
        right: 20%;
        left: 45%;
        font-size: 30px;
    }
    #imagine{
        opacity: 0;
        width: 150px;
        height: 100px;
        margin-top: 20px;
        padding-top: 20px;
        margin-left: 40px;
        z-index: -6;
    }
    #a3{
        text-decoration: none;
        color: black;
    }
    #param3{
        font-family: 'Montserrat', sans-serif;
        padding: 10px 0px 10px 20px;
        font-size: 20px;
    }
    #param3:hover{
        background-color: #A683E3;
        color: white;
    }
    .logo{
        margin-top: 2rem;
    }
    .logo h1{
        font-family: 'Montserrat', sans-serif;
    }
    .label{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
    @keyframes FadeIn{
        from{
            color: #8E05C2;
            border: 2px dashed grey;
        }
        to{
            color: cornflowerblue;
            border: 2px dashed #BFA2DB;
        }
    }
    #navbarDropdown{
            border: 3px solid #fff;
            border-radius: 50px;
            font-size: 22px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 6px;
            padding-bottom: 6px;
            text-decoration: none;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
        }
        #navbarDropdown:hover{
            color: #A683E3;
            background-color: #fff;
        }
        @media only screen and (min-width: 768px){
            .dropdown:hover>.dropdown-menu{
                display: block;
            }
        }
</style>
{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="banner">
                <h2>Maglo</h2>
                <hr>
                <a href="{% url 'my_app:contul_meu_adult' %}" id="a1"><p id="param1"><i class="fas fa-user"></i> Contul meu</p></a>
                <ul>
                    <li><a href="{% url 'my_app:contul_meu_adult' %}">Informatii personale</a></li>
                    <li><a href="{% url 'my_app:deconectare_adult1' %}">Deconectare</a></li>
                    <li><a href="{% url 'my_app:posteaza_anunt_adult' %}">Posteaza un anunt</a></li>
                </ul>
                <a href="{% url 'my_app:anunturi_totale_adult' user.pk %}" id="a2"><p id="param2"><i class="fas fa-calendar-check"></i> Anunturi postate</p></a>
                <ul>
                    <li><a href="{% url 'my_app:anunturi_totale_adult' user.pk %}">Anunturi totale</a></li>
                    <li><a href="{% url 'my_app:pag_update_adult' %}">Actualizeaza anunt</a></li>
                    <li><a href="{% url 'my_app:anunturi_favorite_d' %}">Anunturi favorite</a></li>
                    <li><a href="{% url 'my_app:pag_delete_adult' %}">Sterge anunt</a></li>
                </ul>
                <a href="{% url 'my_app:promoveazati_afacerea_serviciul' %}" id="a3"><p id="param3"><i class="fas fa-briefcase"></i> Afacere/Serviciu</p></a>
                <ul>
                    <li><a href="{% url 'my_app:promoveazati_afacerea' %}">Promoveaza-ti afacerea</a></li>
                    <li><a href="{% url 'my_app:promoveazati_serviciul' %}">Promoveaza-ti serviciul</a></li>
                </ul>
                <br>
            </div>
        </div>
        <div class="col-lg-9 col-md-4 col-sm-6">
            <div class="logo">
                <div class="container">
                    <h1><strong>Actualizeaza-ti anuntul</strong></h1>
                    <br>
                    <div class="row">
                        <div class="col-lg-8 col-md-4 col-sm-6">
                            <form class="was-validated" action="" enctype="multipart/form-data" method="POST" id="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="Titlul">Titlul anuntului:</label>
                                    <input type="text" class="form-control" placeholder="Tiltul anuntului" name="tilul" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Va rugam sa completati acest spatiu</div>
                                </div>
                                <div class="form-group">
                                    <label for="descriere">Descriere:</label>
                                    <textarea placeholder="Descrierea anuntului" class="form-control" name="descriere" rows="10" required></textarea>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Va rugam sa completati acest spatiu</div>
                                </div>
                                <div class="form-group">
                                    <label for="categorie">Categorie:</label>
                                    <select class="form-control" name="categorie_adult" id="select" required>
                                        <option selected disabled>----------</option>
                                        <option value="auto">Auto, moto si ambarcatiuni</option>
                                        <option value="piese">Piese auto</option>
                                        <option value="agro">Agro si industrie</option>
                                        <option value="imobiliare">Imobiliare</option>
                                        <option value="moda">Moda si frumusete</option>
                                        <option value="electronice">Electronice si electrocasnice</option>
                                        <option value="animale">Animale de companie</option>
                                        <option value="locuri">Locuri de munca</option>
                                        <option value="sport">Sport, timp liber si Hobby</option>
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Va rugam sa completati acest spatiu</div>
                                    </select>
                                    <div class="auto box" style="margin-top: 10px;">
                                        <label for="subcategorie">Subcategorie:</label>
                                        <select class="form-control" name="subcategorie_adult" required>
                                            <option selected disabled>----------</option>
                                            <option>Autoturisme</option>
                                            <option>Ambarcatiuni</option>
                                            <option>Autoutilitare</option>
                                            <option>Camioane, rulote, remorci</option>
                                            <option>Motociclete, scutere, ATV</option>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Va rugam sa completati acest spatiu</div>
                                        </select>
                                    </div>
                                    <div class="piese box" style="margin-top: 10px;">
                                        <label for="subcategorie">Sucategorie:</label>
                                        <select class="form-control" name="subcategorie_adult">
                                            <option selected disabled>----------</option>
                                            <option>Roti, jante, anvelope</option>
                                            <option>Caroserie</option>
                                            <option>Mecanica electrica</option>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Va rugam sa completati acest spatiu</div>
                                        </select>
                                    </div>
                                    <div class="agro box" style="margin-top: 10px;">
                                        <label for="subcategorie">Subcategorie:</label>
                                        <select class="form-control" name="subcategorie_adult">
                                            <option selected disabled>--------</option>
                                            <option>Utilaje agricole si industriale</option>
                                            <option>Animale domestice</option>
                                            <option>Produse piata</option>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Va rugam sa completati acest spatiu</div>
                                        </select>
                                    </div>
                                    <div class="imobiliare box" style="margin-top: 10px;">
                                        <label for="subcategorie">Subcategorie:</label>
                                        <select class="form-control" name="subcategorie_adult">
                                            <option selected disabled>----------</option>
                                            <option>Apartamente de vanzare</option>
                                            <option>Apartamente de inchiriat</option>
                                            <option>Birouri</option>
                                            <option>Case/Vile de vanzare</option>
                                            <option>Case/Vile de inchiriat</option>
                                            <option>Terenuri agricole</option>
                                            <option>Terenuri constructii</option>
                                            <option>Spatii comerciale</option>
                                            <option>Spatii industriale</option>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Va rugam sa completati acest spatiu</div>
                                        </select>
                                    </div>
                                    <div class="moda box" style="margin-top: 10px;">
                                        <label for="subcategorie">Subcategorie:</label>
                                        <select class="form-control" name="subcategorie_adult">
                                            <option selected disabled>----------</option>
                                            <option>Haine dama</option>
                                            <option>Haine barbati</option>
                                            <option>Incaltaminte dama</option>
                                            <option>Incaltaminte barbati</option>
                                            <option>Bijuterii</option>
                                            <option>Cosmetice</option>
                                            <option>Accesorii</option>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Va rugam sa completati acest spatiu</div>
                                        </select>
                                    </div>
                                    <div class="electronice box" style="margin-top: 10px;">
                                        <label for="subcategorie">Subcategorie:</label>
                                        <select class="form-control" name="subcategorie_adult">
                                            <option selected disabled>----------</option>
                                            <option>Telefoane</option>
                                            <option>Tablete</option>
                                            <option>Electrocasnice</option>
                                            <option>Laptop - Calculator</option>
                                            <option>Aparat foto - Camere video</option>
                                            <option>Console</option>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Va rugam sa completati acest spatiu</div>
                                        </select>
                                    </div>
                                    <div class="animale box" style="margin-top: 10px;">
                                        <label for="subcategorie">Subcategorie:</label>
                                        <select class="form-control" name="subcategorie_adult">
                                            <option selected disabled>----------</option>
                                            <option>Adoptii</option>
                                            <option>Accesorii animale</option>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Va rugam sa completati acest spatiu</div>
                                        </select>
                                    </div>
                                    <div class="locuri box">
                                        <label for="subcategorie">Subcategorie:</label>
                                        <select class="form-control" name="subcategorie_adult">
                                            <option selected disabled>----------</option>
                                            <option>Agenti de vanzari</option>
                                            <option>Confectii - Croitori</option>
                                            <option>Cosmeticieni - Frizeri</option>
                                            <option>Ingineri - Meseriasi - Constructori</option>
                                            <option>Munca in strainatate</option>
                                            <option>Paza si protectie</option>
                                            <option>Personal hotelier-restaurant</option>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Va rugam sa completati acest spatiu</div>
                                        </select>
                                    </div>
                                    <div class="sport box">
                                        <label for="subcategorie">Subcategorie:</label>
                                        <select class="form-control" name="subcategorie_adult">
                                            <option selected disabled>----------</option>
                                            <option>Articole sportive</option>
                                            <option>Carti, Filme</option>
                                            <option>Arta si antichitati</option>
                                            <option>Muzica, instrumente muzicale</option>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Va rugam sa completati acest spatiu</div>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="telefon">Telefon:</label>
                                    <input type="number" name="telefon" placeholder="Telefon" class="form-control" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Va rugam sa completati acest spatiu</div>
                                </div>
                                <div class="form-group">
                                    <label for="Email">Email:</label>
                                    <input type="email" name="email" placeholder="Email" class="form-control" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Va rugam sa completati acest spatiu</div>
                                </div>
                                <div class="form-group">
                                    <label for="pret">Vând / Schimb</label>
                                    <select class="form-control" id="selectare">
                                        <option selected disabled>----------</option>
                                        <option value="vinde">Vând</option>
                                        <option value="schimb">Schimb</option>
                                    </select>
                                    <div class="vinde newbox" style="margin-top: 10px;">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-4 col-sm-6">
                                            <label for="pret">Pret:</label>
                                            <input type="number" placeholder="Pret" class="form-control" name="pret" required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Va rugam sa completati acest spatiu</div>
                                        </div>
                                        <div class="col-lg-6 col-md-4 col-sm-6">
                                            <label for="moneda">Moneda:</label>
                                            <select class="form-control" name="moneda">
                                                <option selected disabled>----------</option>
                                                <option>Lei</option>
                                                <option>Euro</option>
                                            </select>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="localizare">Judet:</label>
                                    <select name="localizare" class="form-control" required>
                                        <option selected disabled>----------</option>
                                        <option>Alba</option>
                                        <option>Arad</option>
                                        <option>Arges</option>
                                        <option>Bacau</option>
                                        <option>Bihor</option>
                                        <option>Bistrita-Nasaud</option>
                                        <option>Botosani</option>
                                        <option>Braila</option>
                                        <option>Brasov</option>
                                        <option>Buzau</option>
                                        <option>Calarasi</option>
                                        <option>Caras-Severin</option>
                                        <option>Cluj</option>
                                        <option>Constanta</option>
                                        <option>Covasna</option>
                                        <option>Dambovita</option>
                                        <option>Dolj</option>
                                        <option>Galati</option>
                                        <option>Giurgiu</option>
                                        <option>Gorj</option>
                                        <option>Harghita</option>
                                        <option>Hunedoara</option>
                                        <option>Ialomita</option>
                                        <option>Iasi</option>
                                        <option>Ilfov</option>
                                        <option>Maramures</option>
                                        <option>Mehedinti</option>
                                        <option>Mures</option>
                                        <option>Neamt</option>
                                        <option>Olt</option>
                                        <option>Prahova</option>
                                        <option>Salaj</option>
                                        <option>Satu Mare</option>
                                        <option>Sibiu</option>
                                        <option>Suceava</option>
                                        <option>Teleorman</option>
                                        <option>Timis</option>
                                        <option>Tulcea</option>
                                        <option>Valcea</option>
                                        <option>Vaslui</option>
                                        <option>Vrancea</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="imagine">Imagini:</label>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-6">
                                            <div class="bg">
                                                <input type="file"id="imagine" accept="image/heic, image/png, image/jpeg, image/webp" name="imagine" required>
                                                <i class="fas fa-camera"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6">
                                            <div class="bg">
                                                <input type="file"id="imagine" accept="image/heic, image/png, image/jpeg, image/webp" name="imagine2" required>
                                                <i class="fas fa-camera"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6">
                                            <div class="bg">
                                                <input type="file"id="imagine" accept="image/heic, image/png, image/jpeg, image/webp" name="imagine3" required>
                                                <i class="fas fa-camera"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-6">
                                            <div class="bg">
                                                <input type="file"id="imagine" accept="image/heic, image/png, image/jpeg, image/webp" name="imagine4" required>
                                                <i class="fas fa-camera"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6">
                                            <div class="bg">
                                                <input type="file"id="imagine" accept="image/heic, image/png, image/jpeg, image/webp" name="imagine5" required>
                                                <i class="fas fa-camera"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6">
                                            <div class="bg">
                                                <input type="file" id="imagine" accept="image/heic, image/png, image/jpeg, image/webp" name="imagine6" required>
                                                <i class="fas fa-camera"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <input type="submit" class="btn btn-outline-info btn-block btn-lg" value="Actualizeaza">
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<div class="jumbotron" style="background-color: #334257;margin-bottom: 0px;padding-top: 20px;padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <h3 style="color: #BBBFCA;">Informatii</h3>
                <br>
                <a href="{% url 'ajutor_si_contact' %}" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">Ajutor si Contact</a>
                <a href="{% url 'politica_confi' %}" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">Politica de confidentialitate</a>
                <a href="{% url 'politica_cookie' %}" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">Politica de Cookie-uri</a>
                <a href="{% url 'termeni_si_conditii' %}" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">Termeni si Conditii</a>
                <a href="{% url 'securitate' %}" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">Protejeaza-te pe Maglo</a>
                <a href="https://anpc.ro/" style="display:block;text-decoration: none;color: aliceblue;padding-bottom: 10px;">ANPC</a>
            </div>
            <br>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <h3 style="color: #BBBFCA;">Date de contact</h3>
                <br>
                <p style="display:block;text-decoration: none;color: aliceblue;">Email: </p>
                <p style="display:block;text-decoration: none;color: aliceblue;">Date firma: </p>
                <p style="display:block;text-decoration: none;color: aliceblue;">CUI: </p>
                <p style="display:block;text-decoration: none;color: aliceblue;">Registrul comertului: </p>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" style="background-color: #151515;margin-bottom: 0px;padding-top: 30px;padding-bottom: 30px;">
    <div class="container">
        <p style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;color: aliceblue;text-align: center;">© Copyright {{date_posted}} - Maglo - Toate drepturile rezervate</p>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#select").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".box").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".box").hide();
            }
        });
    }).change();
    })
    $(document).ready(function(){
        $("#selectare").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".newbox").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".newbox").hide();
            }
        });
    }).change();
    })
</script>
{% endblock %}