alembic==1.4.3
aniso8601==8.0.0
argon2-cffi==20.1.0
asgiref==3.3.1
astroid==2.4.1
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
call==0.1
certifi==2020.12.5
cffi==1.14.4
channels==3.0.4
chardet==3.0.4
click==7.1.2
colorama==0.4.3
constantly==15.1.0
cryptography==35.0.0
daphne==3.0.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.1.5
django-allauth==0.44.0
django-bootstrap3==14.2.0
django-braces==1.14.0
django-countries==7.0
django-crispy-forms==1.13.0
django-filter==21.1
django-heroku==0.3.1
dnspython==2.0.0
email-validator==1.1.2
Faker==5.5.0
Flask==1.1.2
Flask-Bcrypt==0.7.1
flask-blueprint==1.3.0
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.3
Flask-WTF==0.14.3
gunicorn==20.1.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
lxml==4.6.3
Mako==1.1.3
MarkupSafe==1.1.1
mccabe==0.6.1
MouseInfo==0.1.3
nmap==0.0.1
numpy==1.20.2
oauthlib==3.1.0
opencv-python==4.5.4.58
pandas==1.2.3
Pillow==8.1.0
prettytable==2.1.0
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycparser==2.20
pygame==2.0.0
PyGetWindow==0.0.9
pylint==2.5.2
PyMsgBox==1.0.9
pyOpenSSL==21.0.0
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.28
python-dateutil==2.8.1
python-decouple==3.4
python-editor==1.0.4
python-nmap==0.6.1
python-social-auth==0.3.6
python3-openid==3.2.0
pytweening==1.0.4
pytz==2020.1
requests==2.25.0
requests-oauthlib==1.3.0
selenium==3.141.0
service-identity==21.1.0
six==1.15.0
social-auth-app-django==5.0.0
social-auth-core==4.1.0
soupsieve==2.2.1
SQLAlchemy==1.3.18
sqlparse==0.4.1
stripe==2.60.0
style==1.1.0
text-unidecode==1.3
toml==0.10.1
Twisted==21.7.0
twisted-iocpsupport==1.0.2
txaio==21.2.1
typing-extensions==3.10.0.2
update==0.0.1
urllib3==1.26.2
vidstream==0.0.5
wcwidth==0.2.5
Werkzeug==1.0.1
whitenoise==5.2.0
wrapt==1.12.1
WTForms==2.3.3
zope.interface==5.4.0
